<div class="text-center">
  <div class="crud-delete-icon bg-light-success text-success">
    <i class="ti ti-download"></i>
  </div>
  <h5 class="mb-2">Export Excel</h5>
  <p class="text-muted mb-0">Unduh data {{ model_name }} dalam format Excel.</p>
  <div class="modal-footer px-0 pb-0 mt-4">
    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">Batal</button>
    <a href="{{ request.path }}" class="btn btn-success">
      <i class="ti ti-download"></i>
      <span>Unduh Excel</span>
    </a>
  </div>
</div>
